<nav class="navBar">
    <ul>
        <li><a href="/ship_registration">Ship Registration</a></li>
        <li><a href="/port_entry">Port Entry</a></li>
        <li><a href="/port_exit">Port Exit</a></li>
        <li><a href="/crane_operator">Crane Operations</a></li>
        <li><a href="/truck_registration">Truck Registration</a></li>
        <li><a href="/truck_driver_checkin">Truck Driver Check-In</a></li>
        <li><a href="/container_company_registration">Container Company Registration</a></li>
        <li><a href="/port_admin_management">Port Admin Management</a></li>
    </ul>
</nav>