<!DOCTYPE html>
<html>
<head>
    <title>Port Management System</title>
    <link rel="stylesheet" href="../views/styles.css" />
    <style>
        body {
            background-color: #1a5ec3f7;
        }
    </style>
</head>
<body>
    <h1 id="welcome">Welcome to the Port Management System!</h1>
    <div id="shipBarLeft"></div>
    <div id="shipBarRight"></div>
    <nav id="mainNav">
        <div class="row">
            <div class="col">
                <a href="/ship_registration">Ship Registration</a>
            </div>
            <div class="col">
                <a href="/port_entry">Port Entry</a>
            </div>
            <div class="col">
                <a href="/port_exit">Port Exit</a>
            </div>
            <div class="col">
                <a href="/crane_operator">Crane Operations</a>
            </div>
            <div class="col">
                <a href="/truck_registration">Truck Registration</a>
            </div>
            <div class="col">
                <a href="/truck_driver_checkin">Truck Driver Check-In</a>
            </div>
            <div class="col">
                <a href="/container_company_registration">Container Company Registration</a>
            </div>
            <div class="col">
                <a href="/port_admin_management">Port Admin Management</a>
            </div>
        </div>
    </nav>
</body>
</html>
