<!DOCTYPE html>
<html>
<head>
    <title>Port Management System</title>
    <!-- You can add CSS and JavaScript links here -->
</head>
<body>
    <h1>Welcome to the Port Management System</h1>
    <nav>
        <ul>
            <li><a href="/ship_registration">Ship Registration</a></li>
            <li><a href="/port_entry">Port Entry</a></li>
            <li><a href="/port_exit">Port Exit</a></li>
            <li><a href="/crane_operator">Crane Operations</a></li>
            <li><a href="/truck_registration">Truck Registration</a></li>
            <li><a href="/truck_driver_checkin">Truck Driver Check-In</a></li>
            <li><a href="/container_company_registration">Container Company Registration</a></li>
            <li><a href="/port_admin_management">Port Admin Management</a></li>
        </ul>
    </nav>
    <!-- Additional content such as a footer, contact information, etc., can be added here -->
</body>
</html>
