<!DOCTYPE html>
<html>

<head>
    <title>Port Admin Management</title>
    <link rel="stylesheet" href="../views/styles.css" />
    <style>
        /* Basic styling */
        div {
            margin-bottom: 20px;
        }

        #shipDetails {
            margin-left: 40px;
        }

        #berthOverview {
            margin-left: 40px;
        }

        #containerInsights {
            margin-left: 40px;
        }

        #truckInformation {
            margin-left: 40px;
        }

        h2 {
            color: rgb(0, 22, 148);
        }

        .input-group {
            margin-bottom: 10px;
        }

        table {
            border-collapse: separate;
            border-spacing: 10px;
        }
    </style>
</head>

<body>
    <h1>Port Admin Management</h1>
    <% if(cookie == undefined) { %>
        <a href="/">
            <img src="../views/images/home_button.png" id="cornerHomeButton" />
        </a>
        <div id="loginScreen">
            <img src="../views/images/lock.png" id="lock"/>
            <h2>Please login to continue as admin:</h2>
            <form id="loginForm">
                <label for="username">Username</label>
                <input type="text" id="username" />
                <br/>
                <label for="password">Password</label>
                <input type="password" id="password" />
                <br/>
                <span display="none" id="loginError"></span>
                <button type="button" onclick="loginAdmin()" id="loginButton">Login</button>
            </form>
        </div>
    <% } %>
    <!-- Ship Details Section -->
    <div id="shipDetails">
        <h2>Ship Details</h2>
        <div class="input-group">
            <input type="text" id="shipIdInput" placeholder="Enter Ship ID">
            <button onclick="fetchShipDetails()">Get Ship Details</button>
        </div>
        <div id="shipDetailsResult"></div>
    </div>

    <!-- Berth Overview Section -->
    <div id="berthOverview">
        <h2>Berth Overview</h2>
        <button onclick="fetchBerthOverview()">Get Berth Overview</button>
        <div id="berthOverviewResult"></div>
    </div>

    <!-- Container Insights Section -->
    <div id="containerInsights">
        <h2>Container Insights</h2>
        <div class="input-group">
            <input type="text" id="containerIdInput" placeholder="Enter Container ID">
            <button onclick="fetchContainerInsights()">Get Container Insights</button>
        </div>
        <div id="containerInsightsResult"></div>
    </div>

    <!-- Truck Information Section -->
    <div id="truckInformation">
        <h2>Truck Information</h2>
        <div class="input-group">
            <input type="text" id="truckIdInput" placeholder="Enter Truck ID">
            <button onclick="fetchTruckInformation()">Get Truck Information</button>
        </div>
        <div id="truckInformationResult"></div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script>
        function loginAdmin() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            let xhr = new XMLHttpRequest();
            let url = "/login";
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/json"); 
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        document.getElementById('loginScreen').style.display = "none";
                        document.getElementById('cornerHomeButton').style.display = "none";
                        const d = new Date();
                        d.setTime(d.getTime() + (2*60*60*1000));
                        let expires = "expires="+ d.toUTCString();
                        document.cookie = "username=" + username + ";" + "password=" + password + ";" + expires + ";path=/port_admin_management";
                    } else {
                        document.getElementById('loginError').innerHTML = "Invalid login";
                    }
                }
            };
            let data = JSON.stringify({
                "username": username,
                "password": password
            });
            xhr.send(data);
        }

        function fetchShipDetails() {
            const shipId = document.getElementById('shipIdInput').value;
            fetch(`/api/ships/${shipId}`)
                .then(response => response.json())
                .then(data => {
                    const table = document.createElement('table');
                    const headerRow = document.createElement('tr');

                    // Create table headers
                    for (let key in data[0]) {
                        const th = document.createElement('th');
                        th.textContent = key;
                        headerRow.appendChild(th);
                    }
                    table.appendChild(headerRow);

                    // Create table rows
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        for (let key in item) {
                            const td = document.createElement('td');
                            if (key === 'enteredPort' || key === 'exitedPort') {
                                // Check if the date is not null
                                if (item[key] !== null) {
                                    // Format the date
                                    const date = new Date(item[key]);
                                    td.textContent = date.toLocaleString();
                                }
                            } else {
                                td.textContent = item[key];
                            }
                            row.appendChild(td);
                        }
                        table.appendChild(row);
                    });

                    // Append the table to the shipDetailsResult div
                    const shipDetailsResult = document.getElementById('shipDetailsResult');
                    shipDetailsResult.innerHTML = ''; // Clear the div
                    shipDetailsResult.appendChild(table);
                });
        }

        function fetchBerthOverview() {
            fetch('/api/berths')
                .then(response => response.json())
                .then(data => {
                    const table = document.createElement('table');
                    const headerRow = document.createElement('tr');

                    // Create table headers
                    for (let key in data[0]) {
                        const th = document.createElement('th');
                        th.textContent = key;
                        headerRow.appendChild(th);
                    }
                    table.appendChild(headerRow);

                    // Create table rows
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        for (let key in item) {
                            const td = document.createElement('td');
                            td.textContent = item[key];
                            row.appendChild(td);
                        }
                        table.appendChild(row);
                    });

                    // Append the table to the berthOverviewResult div
                    const berthOverviewResult = document.getElementById('berthOverviewResult');
                    berthOverviewResult.innerHTML = ''; // Clear the div
                    berthOverviewResult.appendChild(table);
                });
        }

        function fetchContainerInsights() {
            const containerId = document.getElementById('containerIdInput').value;
            fetch(`/api/containers/${containerId}`)
                .then(response => response.json())
                .then(data => {
                    const table = document.createElement('table');
                    const headerRow = document.createElement('tr');

                    // Create table headers
                    for (let key in data[0]) {
                        const th = document.createElement('th');
                        th.textContent = key;
                        headerRow.appendChild(th);
                    }
                    table.appendChild(headerRow);

                    // Create table rows
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        for (let key in item) {
                            const td = document.createElement('td');
                            td.textContent = item[key];
                            row.appendChild(td);
                        }
                        table.appendChild(row);
                    });

                    // Append the table to the containerInsightsResult div
                    const containerInsightsResult = document.getElementById('containerInsightsResult');
                    containerInsightsResult.innerHTML = ''; // Clear the div
                    containerInsightsResult.appendChild(table);
                });
        }

        function fetchTruckInformation() {
            const truckId = document.getElementById('truckIdInput').value;
            fetch(`/api/trucks/${truckId}`)
                .then(response => response.json())
                .then(data => {
                    const table = document.createElement('table');
                    const headerRow = document.createElement('tr');

                    // Create table headers
                    for (let key in data[0]) {
                        const th = document.createElement('th');
                        th.textContent = key;
                        headerRow.appendChild(th);
                    }
                    table.appendChild(headerRow);

                    // Create table rows
                    data.forEach(item => {
                        const row = document.createElement('tr');
                        for (let key in item) {
                            const td = document.createElement('td');
                            if (key === 'enteredPort' || key === 'exitedPort') {
                                // Check if the date is not null
                                if (item[key] !== null) {
                                    // Format the date
                                    const date = new Date(item[key]);
                                    td.textContent = date.toLocaleString();
                                }
                            } else {
                                td.textContent = item[key];
                            }
                            row.appendChild(td);
                        }
                        table.appendChild(row);
                    });


                    // Append the table to the containerInsightsResult div
                    const truckInformationResult = document.getElementById('truckInformationResult');
                    truckInformationResult.innerHTML = ''; // Clear the div
                    truckInformationResult.appendChild(table);
                });
        }
    </script>
</body>

</html>