body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(214, 235, 253)
}

#welcome {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkred;
    color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
}

#shipBarLeft {
    height: 100vh;
    width: 15vw;
    background-image: url('./images/home_ship.png');
    background-size: contain;
    position: fixed;
    top: 59px;
    left: 0;
    padding-top: 20px;
}

#shipBarRight {
    height: 100vh;
    width: 15vw;
    background-image: url('./images/home_ship.png');
    background-size: contain;
    position: fixed;
    top: 59px;
    right: 0;
    padding-top: 20px;
}

#mainNav {
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    color: white;
}
#mainNav .col {
    padding-bottom: 20px;
}
#mainNav a:visited {
    color: white;
}

#homeButton {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    height: 35px;
    width: 35px;
}

h4 {
    display: inline-block;
}

h1 {
    margin-left: 20px;
}

form {
    margin-left: 60px;
}

input {
    margin-top: 10px;
}

#message {
    margin-left: 60px;
    margin-top: 20px;
}

#footer {
    margin-top: 10px;
    padding-left: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

#cornerHomeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
}

#loginScreen {
    text-align: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(214, 235, 253);
    z-index: 1;
}
#loginForm {
    position: relative;
    right: 40px;
}
#loginForm label, #loginForm input {
    margin-bottom: 20px;
}
#loginButton {
    padding: 5px;
    width: 8em;
    position: relative;
    left: 10px;
}

#shipSize {
    margin-left: 11px;
}

#containerDetails {
    margin-top: 20px;
    margin-left: 60px;
}